*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.btn {
  height: 10rem;
  width: 10rem;
  border-radius: 100px;
  font-size: 6rem;
  border: none;
  background-color: white;
  box-shadow: 5px 5px 10px hsl(0, 0%, 80%);
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.08);
}
.container {
  background-color: rgb(236, 245, 255);
  text-align: center;
  padding: 5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  align-items: center;
}
#displayMsg {
  margin-top: 1rem;
  font-size: 4rem;
}

.lost {
  color: rgb(223, 63, 63);
}

.win {
  color: rgb(51, 140, 51);
}

.tie {
  color: rgb(86, 83, 83);
}

.scoreContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
}

.score {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(0, 51, 181);
}

@media (max-width: 800px) {
  .btn {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    margin-right: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  .container {
    padding: 3rem;
  }
  .score {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  #displayMsg {
    font-size: 2.5rem;
  }
}
